@import 'partials/reset';
@import 'partials/fonts';
body {
    font-family: 'Outfit';
    margin: 0;
    padding: 0;
}

.welcome {
    font-size: 32px;
    margin: 30px;
    padding: 0;
}

.fake-content {
    display: block;
    margin: 120px auto;
    max-width: 500px;
    width: 100%;
    font-size: 48px;
    line-height: 1.5;
}